body{
    color: #FFFFFF;
    /* background-color: #050418; */
    background: url('../img/2.jpg') no-repeat center center;
    background-size: cover;
}

.main-card{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #98a998;
    padding: 15px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.cards{
    padding: 10px 10px;
    height: 200px;
    width: 15rem;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(43, 44, 43, 0.2);


}

.cards:hover{

}

.img-top{
    /* background-color: aqua; */
    height: 40%;
    margin: 8px;
}

.img-top img{
    height: 100%;
    width: 100%;
}

.content{
    padding: 2px 7px;
    height: 60%;
}

.content h4{
    text-align: left;
    /* font-weight: 900; */
    /* background-color: black; */
    /* color: white; */
}

.content h6{
    text-align: justify;
    color: rgb(202, 197, 207);


    /* font-weight: 500; */
}

.content p{
    text-align: justify;
    color: rgb(202, 197, 207);
    /* color: #A36147; */

    /* font-weight: 200; */
}